.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff6347;
}

.nav-link.active {
    font-weight: bold;
    color: #ff6347; /* Highlight the active link */
}
.profile-photo {
    top: 40px;
    left: 50px;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 20%; /* Optional: Makes the image round */
  }  
  .profile-text { 
    font-size: 14px; /* Adjust font size as needed */ 
    color: #540255; /* Adjust color as needed */ 
    margin: 0; }
